{% extends 'minerals_app/layout.html' %}
{% block content %}

<div class="grid-100">
  <ul class="minerals__container">
    {% for mineral in minerals %}
      <li>
        <a class="minerals__anchor" href="{% url 'mineral:detail' pk=mineral.pk %}">
          {% if mineral.name|wordcount <= 1 %}
            {{ mineral.name|capfirst }}
          {% else %}
            {{ mineral.name|capfirst|truncatewords:1 }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
