<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>Mackey's Minerals</title>
  </head>
  <body>

    <div class="bounds">
    <header>

        <div class="grid-100">
          <a href="{% url 'minerals_list' %}">
            <svg class="logo" viewBox="0 0 127.6 84.8" preserveaspectration="xMinYMin meet">
                <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "></polygon>
                <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "></polygon>
                <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "></polygon>
            </svg>
            <h1 class="logo__name text-centered">Macky's Minerals</h1>
          </a>
          <p class="logo__text text-centered">They're not rocks!</p>
        </div>

    </header>

      {% block content %}
      {% endblock %}

    </div>

    <footer>
      <div class="minerals__random">
        <a class="minerals__anchor" href="#">Show random mineral</a>
      </div>
    </footer>

  </body>
</html>
